<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/styletest.css"> <!-- Resource style -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> <!--animated style-->
	<link href="https://fonts.googleapis.com/css?family=Pacifico|Just+Another+Hand|Archivo+Black" rel="stylesheet"><!--pacifico font-->
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	<!--navcss and hover effect-->
	<link rel="stylesheet" href="css/navcss.css">
	
	<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min1.css">-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap1.css">

	

	<!--css for toast and linecons-->
	<link rel="stylesheet" type="text/css" href="css/ns-default_linecons.css">






	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	
	
  	
	<title>Jonathan's Website</title>

	
</head>
<body>

<!--header-->
	<header id="toaster_strudel" class="cd-header">
		<div id="cd-logo"><a href="/"><h1 id="title" class='retroshadow' style="text-transform: lowercase;">design<font style="text-transform: lowercase;font-family: Archivo Black"; color="#90a4ae">x</font><font id="title" class='retroshadow' style="text-transform: lowercase;">jon</font></h1></a>
		</div>
		<nav class="cd-main-nav">
			<ul>
				<!-- inser more links here -->
				<li><a href="#section2" data-number="2" id="portfolio_link" class="hvr-bounce-to-bottom">Portfolio</a></li>
				<li><a href="/resume" class="hvr-bounce-to-bottom">Resume</a></li>
				<li><a href="mailto:jprothen@ucsd.edu" class="hvr-bounce-to-bottom">Contact</a></li>
			</ul>
		</nav> <!-- cd-main-nav -->
	</header>
<!--end of header-->

	<main class="cd-main-content">

		
			<div class="cd-fixed-bg cd-bg-1">
				<section id="section1" class="cd-section">
					<h1 class="testicles" style="font-size: 35px">I'm Jonathan Rothenberg, a <font style="font-weight: bold">Cognitive Science &amp; Human-Computer Interaction</font> major at UCSD. </strong> You can check out <a class ="link" href="/resume">my resume here</a> or scroll down to view my latest project,<font face="Pacifico"> InfoHub</font>, which won "Best Visual Design" in an HCI class of over 200 students.</h1>
						<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
				</section><!-- cd-section -->
			</div> <!-- cd-fixed-bg -->
		

		
			<div class="cd-scrolling-bg cd-color-2" id="first_infopage">
				<section id="section2" class="cd-section">
					<div class="cd-container" style="max-width: 80%">
						<div class="row">
							<div class="col-md-6">
								<img class="iphone1" src= "/images/iphone.png">
							</div>
							<div class="col-md-6" id="paragraph_intro">
								<h1 class="infoHub_Title">InfoHub</h1>
								<p class="introduction_paragraph">
										During fall quarter of 2016, I teamed up with two Computer Science students to develop a webapp that would push San Diego towards becoming a "smart city". We realized that many of the problems plaguging today's cities stem from civilians making poor decisions without sufficient information. For example, when deciding what road to take to work, one may unknowingly choose a road that is already congested and full of traffic. Thus, not only does this user get to work late, but they contribute to the congenstion leading to more traffic and more frustration. If we could create a hub to provide residents with accurate, context-based information, those residents would make better choices, and cities would become smarter.
								</p>
							</div>
						</div>
					</div> <!-- cd-container -->
				</section><!-- cd-section -->
			</div> <!-- cd-scrolling-bg -->
		

	
		<div class="cd-fixed-bg cd-bg-2">
			<h2>The Needfinding Process.</h2>
		</div> <!-- cd-fixed-bg -->


		<div class="cd-scrolling-bg cd-color-3" id="second_infopage">
			<section id="section3" class="cd-section">
				<div class="cd-container two" id="container_height">
					<div class="row" id="row_height">
						<div class="col-md-12" id="col_height">
							<h1 class="infoHub_needfinding" id="needfinding_height">Needfinding</h1>
							<p class="needfinding_p" id="p_height">
								After interviewing people of all ages and varying degrees of technological prowess, we realized that while there were many apps out there that provided users with great information and services, none offered a "universal remote" to combine the data into a singular app. Powerhouse users found it cumbersome to navigate between apps like nest and apple wallet, and less savy users weren't even aware that those apps existed.
							</p>
							<img src="/images/iphone_display.png" id="iphone_align">
						</div>
					</div>
				</div> <!-- cd-container -->
			</section><!-- cd-section -->
		</div> <!-- cd-scrolling-bg -->
	
		<div class="cd-fixed-bg cd-bg-3">
			<h2>Prototyping &amp; Iterating.</h2>
		</div> <!-- cd-fixed-bg -->

		<div class="cd-scrolling-bg cd-color-1" id="three_pairs_page">
			<section id="section4" class="cd-section">
				<div class="cd-container two" id="last_container">
					<div class="row" id="last_row">
						<h1 class="infoHub_needfinding" id="needfinding_height">Prototyping &amp; Iterating</h1>
						<div class="col-md-4">
							<h1 style="text-align: center;font-weight: bold">Look</h1>
							<p>
								Before beginning development on InfoHub, my team and I decided how we wanted the app to look, feel, and function. From there, all iterations of the app were efforts of getting closer to our initial design characteristics. For looks, we wanted a minimal design and subtle color scheme, as InfoHub is an app that will be used daily - while at home, out and about, and while traveling. A high contrast, vibrant color scheme might feel overbearing to the daily user.
							</p> 
							<img class=".img-responsive" id="images_triple"  src="images/circle_look.png">
						</div>
						<div class="col-md-4">
							<h1 style="text-align: center; font-weight: bold">Feel</h1>
							<p>
								We wanted InfoHub to feel like a stack of information in the palm of your hand, so a deck of cards was our mental model. All of our transitions followed this specific mental model of how a stack of cards should act physically, granting users the context they need to know exactly where in the app they are, and how they can get back to previous pages.
							</p>
							<br>
							<br>
							<img class=".img-responsive" id="images_triple"  src="images/circle_feel.png">
						</div>
						<div class="col-md-4">
							<h1 style="text-align: center;font-weight: bold">Function</h1>
							<p>
								Our goal was for our app to be intuitive to new users and familiar to powerhouse users. We made objects easily clickable, organized content in logical locations, and ensured that our information paths were straight forward. We also crafted InfoHub to follow suite with current iOS and android design principles.
							</p>
							<br>
							<br>
							<br>
							<img class=".img-responsive" id="images_triple" src="images/circle_function.png">
						</div>
					</div>
				</div> <!-- cd-container -->
			</section><!-- cd-section -->
		</div> <!-- cd-scrolling-bg -->
		
		<div class="cd-fixed-bg cd-bg-4" id="last_page">
			<section id="section5" class="cd-section">
				<div class="cd-container two">
					<div class="row">
						<div class="col-md-6 one">
							<h1 class="contributions_style">My Contributions</h1>
							<p class="info_for_final_screen">My role for this project was to design both the UI and UX aspects of the app, and I constructed all visible elements and experiences using HTML, CSS, and JavaScript. The programs I used throughtout the entire development process included: Balsamiq, Sketch, Photoshop, and Sublime. The version which won best visual design took 10 weeks of development to complete (the deadline for submission), however many features are still under development. </p>
						</div>
						<div class="col-md-6 two">
							<iframe class="infoscreen1" src="https://cse170-runkle.herokuapp.com"></iframe>
							<img class="iphone2" src="images/newest_iPhone.png">
						</div>
					</div>
				</div>
			</section><!-- cd-section -->
		</div> <!-- cd-fixed-bg -->
	
		<!--nav-->
	<nav id="cd-vertical-nav">
		<ul>
			<li>
				<a href="#section1" data-number="1">
					<span class="cd-dot"></span>
					<span class="cd-label">Top of Page</span>
				</a>
			</li>
			<li>
				<a href="#section2" data-number="2">
					<span class="cd-dot"></span>
					<span class="cd-label">Introduction</span>
				</a>
			</li>
			<li>
				<a href="#section3" data-number="3">
					<span class="cd-dot"></span>
					<span class="cd-label">Needfinding</span>
				</a>
			</li>
			<li>
				<a href="#section4" data-number="4">
					<span class="cd-dot"></span>
					<span class="cd-label">Prototyping &amp; Iterating</span>
				</a>
			</li>
			<li>
				<a href="#section5" data-number="5">
					<span class="cd-dot"></span>
					<span class="cd-label" id=final_ID>Final Product</span>
				</a>
			</li>
		</ul>
	</nav>

	</main> <!-- cd-main-content -->

	<script>

			if (screen.width <= 435) {
				window.location.href = 'oopsmobile';
			} else if (screen.width <= 991) {
    			window.location.href = 'oops';
			}
	
	</script>
	<!--jquery and materialize-->
	<script src="js/jquery1.11.0.js"></script>
	
	<script src="js/nav.js"></script> 

	<script src="js/toast1.js"></script>


	<script src="js/main.js"></script> <!-- Resource jQuery -->
    
</body>
</html>