<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/styletest.css"> <!-- Resource style -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> <!--animated style-->
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"><!--pacifico font-->
	<link rel="stylesheet" href="css/navcss.css">
	<link href="css/hover-min.css" rel="stylesheet" media="all">
	<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min1.css">-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap1.css">




	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	
	
  	
	<title>Jonathan's Website</title>

	
</head>
<body>

<!--header-->
	<header class="cd-header">
		<div id="cd-logo"><a href="/"><h1 id="title" class='retroshadow'>j o n a t h a n</h1></a></div>
		<nav class="cd-main-nav">
			<ul>
				<!-- inser more links here -->
				<li><a href="#section2" data-number="2" id="portfolio_link" class="hvr-bounce-to-bottom">Portfolio</a></li>
				<li><a href="/resume" class="hvr-bounce-to-bottom">Resume</a></li>
			</ul>
		</nav> <!-- cd-main-nav -->
	</header>
<!--end of header-->

	<main class="cd-main-content">

		
			<div class="cd-fixed-bg cd-bg-1">
				<section id="section1" class="cd-section">
					<h1 class="testicles" style="font-size: 35px">I'm Jonathan Rothenberg, a <font style="font-weight: bold">Cognitive Science &amp; Human-Computer Interaction</font> major at UCSD. </strong> See <a class ="link" href="/resume">my resume here</a> or scroll down to view my latest project,<font face="Pacifico"> InfoHub</font>.</h1>
						<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
				</section><!-- cd-section -->
			</div> <!-- cd-fixed-bg -->
		

		
			<div class="cd-scrolling-bg cd-color-2">
				<section id="section2" class="cd-section">
					<div class="cd-container">
					<h1 class="infoHub_Title">InfoHub</h1>
					<img class="iphone1" src= "/images/iphone.png">
							<p class="introduction_paragraph">
								During this past fall quarter, me and two other peers were tasked with developing a webapp that would push San Diego in the direction of becoming a "smart city". We realized that many of the problems plaguging the cities of today stem from poor decisions that are made with a lack of information. Thus, if we could create a hub that provided accurate, context-based information to the consumer, people would make better choices and cities would become smarter.
							</p>
					</div> <!-- cd-container -->
				</section><!-- cd-section -->
			</div> <!-- cd-scrolling-bg -->
		

	
		<div class="cd-fixed-bg cd-bg-2">
			<h2>The Needfinding Process.</h2>
		</div> <!-- cd-fixed-bg -->


		<div class="cd-scrolling-bg cd-color-3">
			<section id="section3" class="cd-section_one">
				<div class="cd-container two" id="container_height">
					<div class="row" id="row_height">
						<div class="col-md-12" id="col_height">
							<h1 class="infoHub_needfinding" id="needfinding_height">Needfinding</h1>
							<p class="needfinding_p" id="p_height">
								After interviewing a handful of different people of all ages and technological prowess, we realized that there were many apps out there that provided great information and services for users, but what was missing was a "universal remote" to conglomerate all this data into one app. For example, powerhouse user found navigating between multiple apps cumbersome and less savy users weren't even aware that apps like Nest and Apple Wallet existed.
							</p>
							<img src="/images/iphone_display.png" id="iphone_align">
						</div>
					</div>
				</div> <!-- cd-container -->
			</section><!-- cd-section -->
		</div> <!-- cd-scrolling-bg -->
	
		<div class="cd-fixed-bg cd-bg-3">
			<h2>Prototyping and Iterating.</h2>
		</div> <!-- cd-fixed-bg -->

		<div class="cd-scrolling-bg cd-color-1">
			<section id="section4" class="cd-section">
				<div class="cd-container">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!
					</p>
				</div> <!-- cd-container -->
			</section><!-- cd-section -->
		</div> <!-- cd-scrolling-bg -->
		
		<div class="cd-fixed-bg cd-bg-4">
			<section id="section5" class="cd-section">
				<div class="cd-container one">
					<div class="row">
						<div class="col-md-6 one">
							<h1 class="contributions_style">My Contributions</h1>
							<p class="info_for_final_screen">My role for this project was to design both the UI and UX aspects of the app. Thus, all visible elements and experiences were constructed by me using html, CSS, and javascript. Out of a class of 200 students, InfoHub was awarded "Best Visual Design". </p>
						</div>
						<div class="col-md-6 two">
							<iframe class="infoscreen" src="https://cse170-runkle.herokuapp.com"></iframe>
							<img class="iphone2" src="images/iphone2.png">
						</div>
					</div>
				</div>
			</section><!-- cd-section -->
		</div> <!-- cd-fixed-bg -->
	
		<!--nav-->
	<nav id="cd-vertical-nav">
		<ul>
			<li>
				<a href="#section1" data-number="1">
					<span class="cd-dot"></span>
					<span class="cd-label">Top of Page</span>
				</a>
			</li>
			<li>
				<a href="#section2" data-number="2">
					<span class="cd-dot"></span>
					<span class="cd-label">Introduction</span>
				</a>
			</li>
			<li>
				<a href="#section3" data-number="3">
					<span class="cd-dot"></span>
					<span class="cd-label">Needfinding</span>
				</a>
			</li>
			<li>
				<a href="#section4" data-number="4">
					<span class="cd-dot"></span>
					<span class="cd-label">Prototyping &amp; Iterating</span>
				</a>
			</li>
			<li>
				<a href="#section5" data-number="5">
					<span class="cd-dot"></span>
					<span class="cd-label">Final Product</span>
				</a>
			</li>
		</ul>
	</nav>
	</main> <!-- cd-main-content -->

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/main.js"></script> <!-- Resource jQuery -->
	<script src="js/nav.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script> <!--materialize-->
</body>
</html>