<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Jonathan's..Website?</title>
</head>
<body>
<section class="cd-intro">
	<div class="cd-intro-content bouncy">
		<h1>Ah, shoot.</h1>
		<p style="color: white;">Unfortunately my website is still under development and isn't ready for your size screen. Try viewing it on a larger display! Below I've included two links to cute animal videos to hopefully ease your frustration.</p>
		<div class="action-wrapper">
			<a href="https://www.youtube.com/watch?v=z_O43RQzBbg" class="cd-btn main-action">Husky Overload</a>
			<a href="https://www.youtube.com/watch?v=q1dpQKntj_w" class="cd-btn">Typical Cat Montage</a>
		</div>
	</div>
</section>
	
<script src="js/jquery-2.1.4.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>